body {
  background: url("BackgroundTexture.jpeg")
}

.textStrokeBlack {
  font-family: arial;
  color: White;
  text-shadow: 
    -1px -1px 0 #000,  
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;
{

.textWhite {
  font-family: arial;
  color: white;
}

.textWhiteCenter {
  font-family:arial;
  color:white;
  text-align:center;
}
